# Create a new directory and parents then enter it.
function mkcd() {
	mkdir -p "$@" && cd "$_";
}

# Search via Google, open in Chrome.
google() {
    search=""
    echo "Googling: $@"
    for term in $@; do
        search="$search%20$term"
    done
    /usr/bin/open -a "/Applications/Google Chrome.app" "http://www.google.com/search?q=$search"
}
