# Create a new directory and parents then enter it.
function mkcd() {
	mkdir -p "$@" && cd "$_";
}

google() {
    search=""
    echo "Googling: $@"
    for term in $@; do
        search="$search%20$term"
    done
    /usr/bin/open -a "/Applications/Google Chrome.app" "http://www.google.com/search?q=$search"
}

# who is using the laptop's iSight camera? Does not work!
camerausedby() {
	echo "Checking to see who is using the iSight camera… 📷"
	usedby=$(lsof | grep -w "AppleCamera\|USBVDC\|iSight" | awk '{printf $2"\n"}' | xargs ps)
	echo -e "Recent camera uses:\n$usedby"
}
