[core]
	filemode = false
	autocrlf = false
	excludesfile = ~/.gitignore_global
[alias]
    b = branch
	co = checkout
	cp = cherry-pick
	s = status
	st = status
	p = log --oneline
	last = log -1 HEAD
	graph = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
	ci = commit
	unstage = reset HEAD --
	visual = !gitk
	d = diff
	fix = config --replace-all core.filemode false
	ac = !git add -A && git commit
	undocommit = reset HEAD~

[color]
	ui = auto
[color "diff"]
	meta = yellow bold
	commit = green bold
	rag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
    newHighlight = "green bold 22"
[color "branch"]
	current = green reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = red
[include]
	path = ~/.local/.gitconfig
[init]
	# templatedir = ~/.git_template
[push]
	# default = matching
	default = current
	followTags = true
